/*
Arc-Dark Color Scheme
*/

@define-color highlight yellow;
@define-color base1  #404552;
@define-color base2  #40455;
@define-color base3  #4b5160;


*{
    font-family: UbuntuMono;
}

#window {

}

#inner-box {
    background-color: black;

}

#outer-box {
  margin: 0px;
  padding:15px;
  background-color: black;
  margin-top: -30px;
}

#scroll {
}

#text {
padding: 5px;
color: white;
}

#entry {
    background-color: black;
}

#entry:selected {
    background-color: white;
    border-radius:0px;
    
}

#text:selected {
color:black;
}
